@page "/transactions"
@layout TransactionLayout
<h1>Transaction Page</h1>

<h2>Balance To Pay:  @TransactionState.TotalBalance</h2>
@*<TransactionBalanceComponent />*@
<h2>Transaction List</h2>

<TransactionListComponent />
