@page "/transactions"

<h1>Transaction Page</h1>

<h2>Transaction Display 1</h2>

<br/>
<TransactionListComponent />
<br />
<hr />
<h6>Reset button will clear all state in the Store and return you to the home page</h6>
<ResetButton/>
<br />
<hr />
<h6>EventStream is an example of middleware.  It adds each action to list.</h6>
<EventStream/>