@inherits TransactionListContainerBase
@using TransactionProject.Client.Features.Transactions.Components

<div class="container bg-primary">
  <h3>Transaction List will be here</h3>
  <div class="m-2 bg-success">
    @foreach (var trans in ListOfTransactions)
    {
      <TransactionComponent Amount = trans.Amount,
                            ToAddress = trans.ToAddress,
                            TxDate = trans.TxDate,
                            TxId = trans.TxId />
    }
  </div>
</div>